.cardWrapper {
  /* min-width: 70%; */
  min-width: 18rem;
  text-align: center;
  background: alpha(
    light-dark(
      var(--mantine-color-customDarkBlue-1), 
      var(--mantine-color-customDarkBlue-7))
  , 1);
  min-height: 400px;
}

.hidden {
  visibility: hidden;
}